# SQL Interview Question....

In [0]:
CREATE TABLE zomato_orders (
order_id INT,
customer_id INT,
customer_name VARCHAR(50),
order_date DATE
);

In [0]:
CREATE TABLE zomato_ratings (
rating_id INT,
customer_id INT,
rating INT,
rating_date DATE
);

In [0]:
INSERT INTO zomato_orders VALUES
(1, 1001, 'Gowtham', '2025-01-01'),
(2, 1001, 'Gowtham', '2025-01-10'),
(3, 1001, 'Gowtham', '2025-01-20'),
(4, 1001, 'Gowtham', '2025-02-01'),
(5, 1001, 'Gowtham', '2025-02-15'),
(6, 1001, 'Gowtham', '2025-02-25');

In [0]:
INSERT INTO zomato_ratings VALUES
(1, 1001, 4, '2025-01-10');



## Problem 1: Find Zomato Customers Who Ordered More Than 5 Times but Rated Only Once

In [0]:
WITH order_counts AS (
    SELECT customer_id, COUNT(*) AS total_orders
    FROM zomato_orders
    WHERE order_date >= add_months(current_date(), -6)
    GROUP BY customer_id
),
rating_counts AS (
    SELECT customer_id, COUNT(*) AS total_ratings
    FROM zomato_ratings
    WHERE rating_date >= add_months(current_date(), -6)
    GROUP BY customer_id
)
SELECT o.customer_id
FROM order_counts o
LEFT JOIN rating_counts r
ON o.customer_id = r.customer_id
WHERE o.total_orders > 5
  AND coalesce(r.total_ratings, 0) = 1;

## Problem 2: Find Flipkart Customers Who Purchased Products in More Than 3 Categories

In [0]:
CREATE TABLE flipkart_purchases (
purchase_id INT,
customer_id INT,
customer_name VARCHAR(50),
product_category VARCHAR(50),
purchase_date DATE
);
INSERT INTO flipkart_purchases VALUES
(1, 201, 'Gowtham', 'Electronics', '2024-09-10'),
(2, 201, 'Gowtham', 'Books', '2024-10-15'),
(3, 201, 'Gowtham', 'Fashion', '2025-01-20'),
(4, 201, 'Gowtham', 'Home & Kitchen', '2025-03-10');

In [0]:
SELECT customer_id, customer_name, COUNT(DISTINCT product_category) AS
category_count
FROM flipkart_purchases
GROUP BY customer_id, customer_name
HAVING category_count > 3;


## Problem 3: Identify Dating App Users Who Matched With More Than 5 Users But Sent Messages to Less Than 3

In [0]:
CREATE TABLE matches (
match_id INT,
user_id INT,
matched_user_id INT,
match_date DATE
);

In [0]:
CREATE TABLE messages (
message_id INT,
sender_id INT,
receiver_id INT,
message_date DATE
);

In [0]:
INSERT INTO matches VALUES
(1, 301, 401, '2025-01-01'),
(2, 301, 402, '2025-01-05'),
(3, 301, 403, '2025-01-10'),
(4, 301, 404, '2025-01-15'),
(5, 301, 405, '2025-01-20'),
(6, 301, 406, '2025-01-25');

In [0]:
WITH match_counts AS (
    SELECT user_id, COUNT(*) AS total_matches
    FROM matches
    WHERE match_date >= add_months(current_date(), -3)
    GROUP BY user_id
),
message_counts AS (
    SELECT sender_id, COUNT(DISTINCT receiver_id) AS messages_sent
    FROM messages
    WHERE message_date >= add_months(current_date(), -3)
    GROUP BY sender_id
)
SELECT m.user_id
FROM match_counts m
LEFT JOIN message_counts msg
    ON m.user_id = msg.sender_id
WHERE m.total_matches > 5
  AND COALESCE(msg.messages_sent, 0) < 3;