In [0]:
CREATE TABLE zomato_orders (
order_id INT,
customer_id INT,
customer_name VARCHAR(50),
order_date DATE
);

In [0]:
CREATE TABLE zomato_ratings (
rating_id INT,
customer_id INT,
rating INT,
rating_date DATE
);

In [0]:
INSERT INTO zomato_orders VALUES
(1, 1001, 'Gowtham', '2025-01-01'),
(2, 1001, 'Gowtham', '2025-01-10'),
(3, 1001, 'Gowtham', '2025-01-20'),
(4, 1001, 'Gowtham', '2025-02-01'),
(5, 1001, 'Gowtham', '2025-02-15'),
(6, 1001, 'Gowtham', '2025-02-25');

In [0]:
INSERT INTO zomato_ratings VALUES
(1, 1001, 4, '2025-01-10');



## Problem 1: Find Zomato Customers Who Ordered More Than 5 Times but Rated Only Once

In [0]:
WITH order_counts AS (
    SELECT customer_id, COUNT(*) AS total_orders
    FROM zomato_orders
    WHERE order_date >= add_months(current_date(), -6)
    GROUP BY customer_id
),
rating_counts AS (
    SELECT customer_id, COUNT(*) AS total_ratings
    FROM zomato_ratings
    WHERE rating_date >= add_months(current_date(), -6)
    GROUP BY customer_id
)
SELECT o.customer_id
FROM order_counts o
LEFT JOIN rating_counts r
ON o.customer_id = r.customer_id
WHERE o.total_orders > 5
  AND coalesce(r.total_ratings, 0) = 1;